<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>カート</title>
    <link rel="stylesheet" href="css/common.css" />
    <script src="js/index.js"></script>
</head>

<body>
    <nav>
       <ul>  
            <li>
                <a href="/index">トップ</a>
            </li>
            <li>
                <a href="/player/search">選手検索</a>
            </li>
             <li>
                <a href="/ticket/ticket_list">試合日程</a>
            </li>
            <li>
                <a href="/message/list">応援メッセージ一覧</a>
            </li>
             <li>
                <a href="/item/list">グッズ</a>
            </li>
             <li>
                <a>カート</a>
            </li>
            <li>
                <a href="/user/input">入会</a>
            </li>
            <th:block th:if="${@userDto.memberEntity != null}">
            	<li>
                	<a href="/user/logout">ログアウト</a>
            	</li>
            </th:block>
            <th:block th:if="${@userDto.memberEntity == null}">
            	<li>
            		<a href="/user/login">ログイン</a>
            	</li>
            </th:block>
			<th:block th:if="${@userDto.memberEntity != null}">
	            <li>
	                <span th:text="${@userDto.memberEntity.displayName}"></span>
	            </li>
			</th:block>
			<th:block th:if="${@userDto.memberEntity == null}">
	            <li>
	                ゲスト
	            </li>
			</th:block>
            <li class="clear">
            </li>
        </ul>
    </nav>
    <main>
        <form th:action="@{/item/cart_confirm}" method="post">
        <div style="text-align:center">カート</div>
        <div style="width:100%;">
        <table>
           <tr th:each="item:${itemCartList}" > 
            <td>
             <a th:href="@{/item/item_detail(id=${item.id})}">
                        <img src="${item.img}"/>
             </a>
             </td>           
             <td>
                 <a href="@{/item/item_detail(id=${item.id})" th:text="${item.name}"></a>
                 <p th:text="${item.price}"></p>
             </td>
            </tr>
        </table>
        <div style="text-align:center">
          <input type="submit" value="購入確認" />
        </div>  
        </div>
        <ul>
        </ul>
        </form>
    </main>

</body>

</html>