<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>選手詳細</title>
<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/balloon.css" />
</head>
<body>
	<nav>
		<ul>

			<li><a href="../index">トップ</a></li>
			<li><a href="search">選手検索</a></li>
			<li><a href="../message/list">応援メッセージ</a></li>
			<li><a href="../user/input">入会</a></li>
			<th:block th:if="${@userDto.memberEntity != null}">
            	<li>
                	<a href="../user/login">ログアウト</a>
            	</li>
            </th:block>
            <th:block th:if="${@userDto.memberEntity == null}">
            	<li>
            		<a href="../user/logout">ログイン</a>
            	</li>
            </th:block>
			<th:block th:if="${@userDto.memberEntity != null}">
				<li><span th:text="${@userDto.memberEntity.displayName}"></span>
				</li>
			</th:block>
			<th:block th:if="${@userDto.memberEntity == null}">
				<li>ゲスト</li>
			</th:block>
			<li class="clear"></li>
		</ul>
	</nav>
	<main>
		<div style="width: 100%;">
			<div style="width: 70%; float: left; padding: 0; margin: 0;">
				<table>
					<tr>
						<td>選手名</td>
						<td th:text="${player.name}"></td>
					</tr>

					<tr>
						<td>生年月日</td>
						<td th:text="${player.birthday}"></td>
					</tr>

					<tr>
						<td>星座</td>
						<td th:text="${seiza}"></td>
					</tr>

					<tr>
						<td>ポジション</td>
						<td th:text="${player.position}"></td>
					</tr>

					<tr>
						<td>コメント</td>
						<td th:text="${player.comment}"></td>
					</tr>
				</table>
			</div>
			<div
				style="width: 30%; padding: 0; margin: 0; float: left; text-align: center;">
				<img src="${player.image}" />
			</div>
			<div style="margin: 0; padding: 0; clear: left;"></div>
		</div>
		<h1 th:each="topic : ${topicList}" style="text-align: center;">
			<a th:href="@{/message/send(id=${topic.id})}" th:text="${topic.topic}" target="_blank"></a>
		</h1>
	</main>
</body>
</html>