<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <title>応援サイトトップ</title>
    <link rel="stylesheet" href="css/common.css" />
    <script src="js/index.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li>
                トップ
            </li>
            <li>
                <a href="player/search.html">選手検索</a>
            </li>
            <li>
                <a href="message/list.html">応援メッセージ</a>
            </li>
            <li>
                <a href="user/input.html">入会</a>
            </li>
            <li>
                <a href="user/login.html">ログイン</a>
            </li>
			<th:block th:if="${@userDto.memberEntity != null}">
	            <li>
	                <span th:text="${@userDto.memberEntity.displayName}"></span>
	            </li>
			</th:block>
			<th:block th:if="${@userDto.memberEntity == null}">
	            <li>
	                ゲスト
	            </li>
			</th:block>
            <li class="clear">
            </li>
        </ul>
    </nav>
    <header>
        <img id="main_visual" onclick="return change_img();" src="img/main_visual1.png" />
    </header>
    <main>
        <table th:if="${!lists.isEmpty(topicList)}" style="text-align: center;">
            <tr>
                <th>順位</th>
                <th>TOPIC</th>
            </tr>
            <tr th:each="topic, : ${topicList}">
                <td >1</td>
                <td th:text="${topic.topic}"></td>
            </tr>
        </table>
        <ul th:if="${!lists.isEmpty(playerList)">
            <li th:each="player : ${playerList}">
                <div>
                    <a href="player/detail.html">
                        <img src="${player.img}" />
                    </a>
                </div>
                <div th:text="${player.name}">選手</div>
            </li>
            <li class="clear">
            </li>
        </ul>
        <div>
            <a href="./player/search.html">もっと選手を調べる！</a>
        </div>
    </main>
    <footer>
        <div>
            <div style="width: 200px;height: 30px;">© ナーレガイ</div>
        </div>
    </footer>

</body>

</html>