<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <title>応援サイトトップ</title>
    <link rel="stylesheet" href="css/common.css" />
    <script src="js/index.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a th:href="@{/index}">トップ</a></li>
            <li><a th:href="@{/player/search}">選手検索</a></li>
            <li><a th:href="@{/ticket/list}">試合日程</a> </li>
            <li><a th:href="@{/message/list}">応援メッセージ</a></li>
            <li><a th:href="@{/item/list}">グッズ</a></li>
            <li><a th:href="@{/item/cart}">カート</a></li>
            <li><a th:href="@{/user/input}">入会</a></li>
            <th:block th:if="${@userDto.memberEntity != null}">
            	<li><a th:href="@{/user/logout}">ログアウト</a></li>
            </th:block>
            <th:block th:if="${@userDto.memberEntity == null}">
            	<li><a th:href="@{/user/login}">ログイン</a></li>
            </th:block>
			<th:block th:if="${@userDto.memberEntity != null}">
	            <li><span th:text="${@userDto.memberEntity.displayName}"></span></li>
			</th:block>
			<th:block th:if="${@userDto.memberEntity == null}">
	            <li>ゲスト</li>
			</th:block>
            <li class="clear"></li>
        </ul>
    </nav>
    <header>
        <img id="main_visual" onclick="return change_img();" src="img/main_visual1.png" />
    </header>
    <main>
        <table style="text-align: center;">
            <tr>
                <th>順位</th>
                <th>TOPIC</th>
            </tr>
            <tr th:each="topic,elementStat : ${topicList}">
                <td th:text="${elementStat.count}"></td>
                <td th:text="${topic.topic}"></td>
            </tr>
        </table>
        <ul>
            <li th:each="player : ${playerList}">
                <div>
                    <a th:href="@{/player/detail(id=${player.id})}">
                        <img th:src="${player.image}" />
                    </a>
                </div>
                <div th:text="${player.name}">選手</div>
            </li>
            <li class="clear">
            </li>
        </ul>
        <div>
            <a href="player/search">もっと選手を調べる！</a>
        </div>
    </main>
    <footer>
        <div>
            <div style="width: 200px;height: 30px;">© ナーレガイ</div>
        </div>
    </footer>

</body>

</html>