<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>グッズ一覧</title>
    <link rel="stylesheet" href="css/common.css" />
    <script src="js/index.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li>
                 <a href="../index">トップ</a>
            </li>
         <li>
                <a href="../player/search">選手検索</a>
            </li>
            <li>
                <a href="../message/list">応援メッセージ</a>
            </li>
            <li>
                入会
            </li>
            <th:block th:if="${@userDto.memberEntity != null}">
            	<li>
                	<a href="../user/logout">ログアウト</a>
            	</li>
            </th:block>
            <th:block th:if="${@userDto.memberEntity == null}">
            	<li>
            		<a href="../user/login">ログイン</a>
            	</li>
            </th:block>
			<th:block th:if="${@userDto.memberEntity != null}">
	            <li>
	                <span th:text="${@userDto.memberEntity.displayName}"></span>
	            </li>
			</th:block>
			<th:block th:if="${@userDto.memberEntity == null}">
	            <li>
	                ゲスト
	            </li>
			</th:block>
            <li class="clear">
            </li>
        </ul>
    </nav>
    <main>
      <div style="text-align:center">
            <input type="text" />
            <input type="submit" value="検索" />
        </div>
        <div id="message">メッセージ</div>
        <div style="width:100%;">
        <table>
            <tr>
                <td class="image"><a href="item_detail.html"><img src="https://cdn.clipkit.co/tenants/229/item_images/images/000/075/664/medium/8744355c-1275-469a-9c47-1f6031821253.jpg?1555133953" width="100"></a></td>
                <td class="a">
                  <a href="item_detail.html">商品名</a>
                   <p>価格</p>
               </td>
            </tr>
        </table>
        </div>
        <ul>
        </ul>
    </main>

</body>

</html>