<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>応援メッセージ一覧</title>
    <link rel="stylesheet" href="../css/common.css" />
</head>

<body>
    <nav>
        <ul>
            
            <li>
                <a href="../index.html">トップ</a>
            </li>
            <li>
                <a href="../player/search.html">選手検索</a>
            </li>
            <li>
                応援メッセージ
            </li>
            <li>
                <a href="../user/input.html">入会</a>
            </li>
             <li>
                <a href="user/login">ログイン</a>
            </li>
			<th:block th:if="${@userDto.memberEntity != null}">
	            <li>
	                <span th:text="${@userDto.memberEntity.displayName}"></span>
	            </li>
			</th:block>
			<th:block th:if="${@userDto.memberEntity == null}">
	            <li>
	                ゲスト
	            </li>
			</th:block>
            <li class="clear">
            </li>
        </ul>
    </nav>
    <main>
        <div style="width:100%;">
            <table>
                <tr>
                    <td>
                        日付
                    </td>
                    <td>
                        会員名
                    </td>
                    <td>
                        選手名
                    </td>
                    <td>
                        メッセージ
                    </td>
                </tr>
                <tr th:eath="message:${supportMessageList}" >
                    <td th:text="${message.send_datetime}">
                    </td>
                    <td th:text="${message.member.displayName}">
                    </td>
                    <td th:text="${message.topic.player.name}">
                    </td>
                    <td th:text="${message.message}">
                        <textarea readonly rows="10" cols="50">
                        </textarea>
                    </td>
                 </tr>
            </table>
        </div>
    </main>
</body>

</html>