<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8" />
    <title>ログイン</title>
    <link rel="stylesheet" href="../css/common.css" />
    <script src="js/index.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a th:href="@{/index}">トップ</a></li>
            <li><a th:href="@{/player/search}">選手検索</a></li>
            <li><a th:href="@{/ticket/list}">試合日程</a> </li>
            <li><a th:href="@{/message/list}">応援メッセージ</a></li>
            <li><a th:href="@{/item/list}">グッズ</a></li>
            <li><a th:href="@{/item/cart}">カート</a></li>
            <li><a th:href="@{/user/input}">入会</a></li>
            <th:block th:if="${@userDto.memberEntity != null}">
            	<li><a th:href="@{/user/logout}">ログアウト</a></li>
            </th:block>
            <th:block th:if="${@userDto.memberEntity == null}">
            	<li><a th:href="@{/user/login}">ログイン</a></li>
            </th:block>
			<th:block th:if="${@userDto.memberEntity != null}">
	            <li><span th:text="${@userDto.memberEntity.displayName}"></span></li>
			</th:block>
			<th:block th:if="${@userDto.memberEntity == null}">
	            <li>ゲスト</li>
			</th:block>
            <li class="clear"></li>
        </ul>
    </nav>
    <main>
        <form action="../index"> <div style="width:100%;">
            <table>
                <tr>
                    <td>
                        メールアドレス
                    </td>
                    <td><input type="text" /></td>

                </tr>
                <tr>
                    <td>
                        パスワード
                    </td>
                    <td><input type="password" /></td>

                </tr>
            </table>

            </div>
            <div>
                <input type="submit" value="ログイン" />
            </div>
        </form>
    </main>
</body>

</html>