<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>選手検索</title>
     <link rel="stylesheet" href="../css/common.css" />
</head>

<body>

  <form th:action="@{/player/test}" method="post" th:object="${playerList}">
    <nav>
        <ul>

            <li>
                <a href="../index">トップ</a>
            </li>
            <li>
                選手検索
            </li>
            <li>
                <a href="../message/list">応援メッセージ</a>
            </li>
            <li>
                <a href="../user/input">入会</a>
            </li>
            <th:block th:if="${@userDto.memberEntity != null}">
            	<li>
                	<a href="../user/logout">ログアウト</a>
            	</li>
            </th:block>
            <th:block th:if="${@userDto.memberEntity == null}">
            	<li>
            		<a href="../user/login">ログイン</a>
            	</li>
            </th:block>
			<th:block th:if="${@userDto.memberEntity != null}">
	            <li>
	                <span th:text="${@userDto.memberEntity.displayName}"></span>
	            </li>
			</th:block>
			<th:block th:if="${@userDto.memberEntity == null}">
	            <li>
	                ゲスト
	            </li>
			</th:block>
            <li class="clear">
            </li>
        </ul>
    </nav>
    <main>
        <div>
            <input type="text" name="name" th:value="${name}" />
            <input type="submit" value="検索" />
        </div>
        <div id="message">メッセージエリア</div>
        <div style="width:100%;">
            <table>
                <tr>
                    <td>
                        選手名
                    </td>
                    <td>
                        生年月日
                    </td>
                    <td>
                        ポジション
                    </td>
                </tr>
                <tr th:each="player:${playerList}" >
                    <td>
                        <a th:href="@{/player/detail(id=${player.id})}" th:text="${player.name}"></a>
                    </td>
                    <td th:text="${player.birthday}">                        
                    </td>
                    <td th:text="${player.position}">
                    </td>
                </tr>
            </table>
        </div>
    </main>
  </form>
</body>

</html>